---
layout: default
---
<!-- Find author count -->
{% assign authorCount = page.authors | size %}

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}

                    <span class="meta">
						Posted by 							
						{% if authorCount == 1 %}
							{% assign author = site.data.authors[page.authors] %}
							<a href="{{ author.linkedin }}">{{ author.name }}</a>
							
						{% else if authorCount > 1 %}
							{% for author in page.authors %}
								{% if forloop.first %}
									<a href="{{ site.data.authors[author].linkedin }}">
										{{ site.data.authors[author].name }}
									</a>
								{% elsif forloop.last %}
									and 
									<a href="{{ site.data.authors[author].linkedin }}">
										{{ site.data.authors[author].name }}
										{{ site.data.authors[author].name }}
									</a>
								{% else %}
									, 
									<a href="{{ site.data.authors[author].linkedin }}">
										{{ site.data.authors[author].name }}
									</a>
								{% endif %}
							{% endfor %}
						
						{% else %}
							{{ site.title }}
							
						{% endif %} on {{ page.date | date: "%B %-d, %Y" }} 
						
						{% if page.comments %} 
							• <a href="{{ page.url | prepend: site.baseurl }}#disqus_thread" data-disqus-identifier="{{ page.id }}">Comments</a>
						{% endif %}
					</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
			
			<div class="col-lg-2 col-md-1"> <!-- Instead of having a column offset class, I added a column where we can put images -->
				{% if page.title == 'RInno' %}
				<br>
				<img src="{{ site.baseurl }}/img/RInno.png" class="img-responsive" width="100px" position="absolute">
				{% endif %}
			</div>
			
            <div class="col-lg-8 col-md-10">

				{{ content }}

                <hr>
                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
				<hr>
				{% if page.comments %}{% include disqus.html %}{% endif %}

            </div>
        </div>
    </div>
	<!-- Include Disqus comment count -->
	<script id="dsq-count-scr" src="//https-ficonsulting-github-io.disqus.com/count.js" async></script>

</article>



<hr>
